<tr>
    <td>

        <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="{{STANDARD_TABLE}}" bgcolor="{{WHITE}}" width="100%">
            <tr><td height="{{ROW_PAD}}" colspan="3"></td></tr>
            <tr>
                <td width="{{CONTENT_MARGIN}}"></td>
                <td width="{{COL1}}" align="left" valign="top">

                    <table cellpadding="0" cellspacing="0" border="0" style="{{STANDARD_TABLE}}" bgcolor="#ffffff" width="610">

<!-- FRAGMENTS -->

<!-- END: FRAGMENTS -->

                        {{insertEmailFragments[1,20]}}

                    </table>

                </td>
                <td width="{{CONTENT_MARGIN}}"></td>
            </tr>
            <tr><td height="{{ROW_PAD}}" colspan="3"></td></tr>
        </table>

    </td>
</tr>